*{
  box-sizing: border-box;
}

:root {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 500;

  color: var(--primary-color);
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --primary-color: #edf2f4;
  --secondary-color: #3d6aff;
  --auxiliary-color: #1f2d5a;
  --primary-background-color: #2e2f3f;
  --secondary-background-color: #8d99ae;

  --navbar-height: 50px;
  --navbar-block-margin: 8px;
  --footer-height: 50px;
}

h1,p {
  margin: 0;
}

body {
  margin: 0;
  background-color: var(--primary-background-color);
}

a {
  text-decoration: none;
  color: inherit;
}

button{
  border: none;
  padding: 0;
}


@media screen and (max-width: 768px) {
  body{
    --navbar-block-margin: 12px;
  }
}