.welcome-msg-container {
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fade-in 0.3s cubic-bezier(0.42, 0, 0, 1.65) 1s both;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    scale: 0;
  }
  100% {
    opacity: 100%;
    scale: 100%;
  }
}

.welcome-msg-1 {
  color: var(--secondary-color);
  font-size: 4rem;
  font-weight: 200;
  filter: drop-shadow(0 0 10px var(--secondary-color));
}

.welcome-msg-2 {
  font-size: 2rem;
  font-weight: 200;
  color: var(--secondary-background-color);
}

.games-container {
  width: fit-content;
  height: 50vh;
  display: flex;
  gap: 3rem;
}

.game-link {
  max-height: 500px;
  min-height: 300px;
  height: 100%;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  border-radius: 1rem;
  transition: all 0.2s ease-out;
  background: linear-gradient(
    0deg,
    var(--auxiliary-color) 0%,
    var(--secondary-color) 100%
  );
  border: 1px solid var(--secondary-color);
  animation: slide-in 1s ease-out backwards;
}

.game-link:nth-child(2) {
  animation-delay: 0.2s;
}
.game-link:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes slide-in {
  0% {
    transform: translateX(100vw);
  }
  30% {
    transform: translateX(-50px);
  }
  100% {
    transform: translateX(0);
  }
}

.game-link:hover {
  transform: translateY(5px);
}

.game-title {
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: 0.25rem;
  color: var(--primary-color);
  transition: all 0.2s ease-out;
}

.game-link:hover .game-title {
  font-size: 1.75rem;
}

.game-icon {
  width: 180px;
  height: 180px;
}

/* Tik-Tak-Toe */

.ttt-lines,
.x-figure,
.o-figure {
  fill: none;
  stroke-linecap: round;
  stroke-width: 1;
  stroke: var(--primary-color);
  transition: all 0.2s ease-out;
}

.x-figure,
.o-figure {
  stroke-opacity: 0;
}

.x-figure:nth-child(5),
.x-figure:nth-child(6),
.x-figure:nth-child(7),
.x-figure:nth-child(8) {
  stroke-opacity: 1;
}

.o-figure:nth-child(1),
.o-figure:nth-child(2) {
  stroke-opacity: 1;
}

.game-link:hover .o-figure:nth-child(4) {
  transition-delay: 0.1s;
  stroke-opacity: 1;
}

.game-link:hover .x-figure:nth-child(3),
.game-link:hover .x-figure:nth-child(4) {
  transition-delay: 0.2s;
  stroke-opacity: 1;
}

.game-link:hover .o-figure:nth-child(3) {
  transition-delay: 0.3s;
  stroke-opacity: 1;
}

.game-link:hover .x-figure:nth-child(1),
.game-link:hover .x-figure:nth-child(2) {
  transition-delay: 0.4s;
  stroke-opacity: 1;
}

.game-link:hover .o-figure:nth-child(5) {
  transition-delay: 0.5s;
  stroke-opacity: 1;
}

/* Hangman */

.hangman-structure,
.hangman-stickman {
  fill: none;
  stroke: var(--primary-color);
  stroke-width: 1px;
  transition: all 0.2s ease-out;
}

.hangman-stickman {
  stroke-opacity: 0;
}

.game-link:hover .hangman-stickman {
  transition-delay: 0.1s;
  stroke-opacity: 1;
}

/* Sudoku */

.sudoku-board-inside,
.sudoku-board-outline {
  stroke: var(--primary-color);
  stroke-linecap: square;
}

.sudoku-numbers {
  font-family: inherit;
  font-size: 1.5rem;
  font-weight: 200;
  fill: var(--primary-color);
  opacity: 0;
  transition: all 0.2s ease-out;
}

.game-link:hover .sudoku-numbers {
  opacity: 1;
}

@media screen and (max-width: 1024px) {
  .welcome-msg-1 {
    font-size: 3rem;
  }
  
  .welcome-msg-2 {
    font-size: 1.5rem;
  }

  .games-container {
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 2rem;
    height: fit-content;
  }

  .game-link {
    height: 300px;
    width: 60%;
    min-width: 300px;
    max-width: 500px;
  }

  .game-icon {
    width: 160px;
    height: 160px;
  }

  .x-figure,
  .o-figure {
    stroke-opacity: 1;
  }

  .hangman-stickman {
    stroke-opacity: 1;
  }

  .sudoku-numbers {
    opacity: 1;
  }
}
